
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h1 style="color:red">ERROR</h1>
    <div>
        <h2 style="color:red">@ViewBag.Error</h2>
    </div>
    <a href="~/Controllers/Phone/LoadList">Go back</a>
</body>
</html>
